In [ ]:
# Imports

import os
import numpy
import pandas as pd
import sklearn
import matplotlib

In [3]:
# Read CSV

df = pd.read_csv("TG_STAID011249.txt", sep=',', comment='#')

In [4]:
# Personnal Test

df.head()

   STAID   SOUID      DATE     TG   Q_TG
0  11249   71642  19210301     50      0
1  11249   71642  19210302     46      0
2  11249   71642  19210303     46      0
3  11249   71642  19210304     31      0
4  11249   71642  19210305     95      0