# Kaggle Challenge: Churn prediction 25/26

In [3]:
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd

np.random.seed(42)

In [4]:
df = pd.read_parquet('data/train.parquet')
df.sample(5)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
8415245,200,M,August,paid,Clark,1207487,1540518498000,Logged In,NextSong,112798,"Riverside-San Bernardino-Ontario, CA",400,Mozilla/5.0 (Windows NT 6.1; Trident/7.0; rv:1...,PUT,236.04200,Hostile [Live Version],Pantera,2018-10-26 01:48:18,2018-09-10 17:03:47
12828473,200,F,Alani,paid,Kane,1325330,1541672419000,Logged In,NextSong,159518,"Tampa-St. Petersburg-Clearwater, FL",74,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,PUT,194.03710,Karibien,Air France,2018-11-08 10:20:19,2018-09-05 06:02:19
13490632,200,F,Angelina,paid,Singh,1495032,1541826321000,Logged In,NextSong,174513,"Santa Maria-Santa Barbara, CA",216,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",PUT,278.07302,Through The Wire,Kanye West,2018-11-10 05:05:21,2018-08-24 13:24:27
9329450,200,M,Nathaniel,paid,Norris,1525270,1540794304000,Logged In,NextSong,128771,"San Francisco-Oakland-Hayward, CA",120,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,132.85832,Ride A White Swan,T. Rex,2018-10-29 06:25:04,2018-06-23 13:42:06
13901146,200,M,Landyn,paid,Evans,1849720,1541985370000,Logged In,NextSong,179047,"Atlanta-Sandy Springs-Roswell, GA",74,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",PUT,266.65751,Black Planet (Remastered),Sisters Of Mercy,2018-11-12 01:16:10,2018-08-25 21:44:42

In [5]:
user: str = "1749042"

df_user = df.loc[df["userId"] == user, ["page", "sessionId", "time", "registration"]]
df_user

,page,sessionId,time,registration
0,NextSong,22683,2018-10-01 00:00:01,2018-08-08 13:22:21
992,NextSong,22683,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,NextSong,22683,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,NextSong,22683,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,NextSong,22683,2018-10-01 00:20:00,2018-08-08 13:22:21
...,...,...,...,...
6660411,Logout,100362,2018-10-21 01:01:44,2018-08-08 13:22:21
6661269,Home,100362,2018-10-21 01:08:13,2018-08-08 13:22:21
6661525,Downgrade,100362,2018-10-21 01:09:53,2018-08-08 13:22:21
6661531,Cancel,100362,2018-10-21 01:09:54,2018-08-08 13:22:21
6662491,Cancellation Confirmation,100362,2018-10-21 01:16:24,2018-08-08 13:22:21