# Kaggle Challenge: Churn prediction 25/26

In [1]:
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd

np.random.seed(42)

In [2]:
df = pd.read_parquet('data/train.parquet')
df.head()

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21

In [5]:
user: str = "1749042"

df_user = df.loc[df["userId"] == user, ["page", "sessionId", "time", "registration"]]
df_user

,page,sessionId,time,registration
0,NextSong,22683,2018-10-01 00:00:01,2018-08-08 13:22:21
992,NextSong,22683,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,NextSong,22683,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,NextSong,22683,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,NextSong,22683,2018-10-01 00:20:00,2018-08-08 13:22:21
...,...,...,...,...
6660411,Logout,100362,2018-10-21 01:01:44,2018-08-08 13:22:21
6661269,Home,100362,2018-10-21 01:08:13,2018-08-08 13:22:21
6661525,Downgrade,100362,2018-10-21 01:09:53,2018-08-08 13:22:21
6661531,Cancel,100362,2018-10-21 01:09:54,2018-08-08 13:22:21
6662491,Cancellation Confirmation,100362,2018-10-21 01:16:24,2018-08-08 13:22:21